@use './styles/variables';

body {
 color:rgb(51, 51, 51);
 background-color: #e2e3e2;
}

Title {
color: rgb(04, 05, 03);
}

White {
    color: #ffffff;
}

Green {
    color: #21ba9e;
}

Light_Green {
    color: #7bcbbb;
}

*Button{ 
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

*a{
    padding: 10px;
    text-decoration: none;
}

.white_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSide, .rightSide{ 
    display:flex;
    align-items: center;
}

.leftSide > div {
    display: flex; /* Make the inner divs flex containers */
    align-items: center; /* Align items vertically */
    padding-left: 30px;
}

.rightSide > div {
    display: flex; /* Make the inner divs flex containers */
    align-items: center; /* Align items vertically */
}

.leftSide img,
.rightSide img {
    margin-right: 5px;
}

.quoteBtn{
    align-items: center;
    color: #ffffff;
    background-color: rgb(51, 51, 51);
}

.popup{
    display: flex;
    background-color: #e2e3e2;
    align-items: center;
    max-width: 75vw;
    border-radius: 35px;
    color:rgb(51, 51, 51);
}

.underline{
    text-decoration: underline;
}

.lowerNav{
    background-image: url('/Icons - Images/img-hero-banner.jpg');
    background-size: cover;
    background-position: center;
    height: 425px;
    width:100vw;
    color: #ffffff;
    filter:brightness(.95)
}

.logo{
    padding: 15px;
}

.TopFooter {
    background-image: url('/Icons - Images/img-final-cta-background.jpg');
    color: #ffffff;
    padding: 25px;
}
.House{
    display: flex;
    float: inline-start;
    padding: 10px;
    max-width: 450px;
}