@use './styles/variables';

body {
 color:rgb(51, 51, 51);
}

Title {
color: rgb(04, 05, 03);
}

White {
    color: #ffffff;
}

Background {
    color: #e2e3e2;
}

Green {
    color: #21ba9e;
}

Light_Green {
    color: #7bcbbb;
}